VITE_API_URL=http://localhost:8000/api #  <--- URL base de la API para el frontend

GOOGLE_API_KEY=api_key_aqui #  <--- Aquí va el API KEY, estamos usando GEMINI

PORT=8000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=enei_db
DB_USER=postgres
DB_PASSWORD=la_contraseña #  <--- Contraseña de la BD jeje
SCHEMA=enei